In [23]:
import pandas as pd
import numpy as np

<br>

### Remplissage de la variable code_NETH_rempl

In [24]:
#ouverture du datasey avec tous les codes
#variables = ["libelle_NEG_rempl", "code_grade_NEG", "code_NETH_rempl", "code_nomenclature_net_neh"]
df = pd.read_csv(f"neg_net_neh.csv",
                 sep=";",
                 encoding='latin-1',
                 low_memory=False)

#fonction pour remplir les valeurs manquantes de code_NETH_rempl
def fill_code_NETH_rempl(row):
    if pd.notnull(row['code_nomenclature_net_neh']):
        return row['code_nomenclature_net_neh']
    elif pd.notnull(row['code_grade_NEG']):
        return row['code_grade_NEG']
    else:
        return np.nan

#appliquer la fonction à toutes lignes
df['code_NETH_rempl'] = df.apply(fill_code_NETH_rempl, axis=1)

#on vire les colonnes inutiles
df = df.drop(["libelle_statut",
              "libelle_NET_NEH_rempl",
              "libelle_grade_neg",
              "libelle_NET_NEH",
              "code_grade_NEG",
              "code_nomenclature_net_neh"], axis=1)

In [27]:
df.to_csv("nomenclature.csv", index=False)
print(df.isna().sum())
df.head(3)

date_effet           0
date_fin             0
indice_brut          0
rang_echelon         0
code_etat            0
libelle_NEG_rempl    0
code_NETH_rempl      0
dtype: int64

,date_effet,date_fin,indice_brut,rang_echelon,code_etat,libelle_NEG_rempl,code_NETH_rempl
0,01JAN1988,05/06/2000,801,1,1,ADMINISTRATEUR HORS CLASSE,TAD2
1,01JAN1988,05/06/2000,852,2,1,ADMINISTRATEUR HORS CLASSE,TAD2
2,01JAN1988,05/06/2000,901,3,1,ADMINISTRATEUR HORS CLASSE,TAD2

In [28]:
import difflib

# liste de libellés non-standardisés
non_standard = ["ingenieur informaticien", "Developpeur Full Stack", "analyste programmeur"]

# liste de libellés standardisés
standard = ["Ingénieur informatique", "Développeur Full Stack", "Analyste programmeur"]

# boucle pour trouver des correspondances pour chaque libellé non-standardisé
for label in non_standard:
    match = difflib.get_close_matches(label, standard, n=1, cutoff=0.6)
    if len(match) > 0:
        print("Le libellé non-standardisé '{}' correspond au libellé standardisé '{}'".format(label, match[0]))
    else:
        print("Aucune correspondance trouvée pour le libellé non-standardisé '{}'".format(label))

Le libellé non-standardisé 'ingenieur informaticien' correspond au libellé standardisé 'Ingénieur informatique'
Le libellé non-standardisé 'Developpeur Full Stack' correspond au libellé standardisé 'Développeur Full Stack'
Le libellé non-standardisé 'analyste programmeur' correspond au libellé standardisé 'Analyste programmeur'

(3, 7)
'ingenieur informaticien'-->'Ingénieur informatique'
'Developpeur Full Stack'-->'Développeur Full Stack'
'analyste programmeur'-->'Analyste programmeur'