In [1]:
import pandas as pd
import numpy as np

<br>

### Remplissage de la variable code_NETH_rempl

In [2]:
#ouverture du datasey avec tous les codes
#variables = ["libelle_NEG_rempl", "code_grade_NEG", "code_NETH_rempl", "code_nomenclature_net_neh"]
df = pd.read_csv(f"neg_net_neh.csv",
                 sep=";",
                 encoding='latin-1',
                 low_memory=False)

#fonction pour remplir les valeurs manquantes de code_NETH_rempl
def fill_code_NETH_rempl(row):
    if pd.notnull(row['code_nomenclature_net_neh']):
        return row['code_nomenclature_net_neh']
    elif pd.notnull(row['code_grade_NEG']):
        return row['code_grade_NEG']
    else:
        return np.nan

#appliquer la fonction Ã  toutes lignes
df['code_NETH_rempl'] = df.apply(fill_code_NETH_rempl, axis=1)

#on vire les colonnes inutiles
df = df.drop(["libelle_statut",
              "libelle_NET_NEH_rempl",
              "libelle_grade_neg",
              "libelle_NET_NEH",
              "code_grade_NEG",
              "code_nomenclature_net_neh"], axis=1)

In [3]:
df = df.sort_values(['libelle_NEG_rempl', 'date_fin'])
df_last = df.groupby('libelle_NEG_rempl').first()
df_last["libelle"] = df_last.index
df_last.sample(5)

,date_effet,date_fin,indice_brut,rang_echelon,code_etat,code_NETH_rempl,libelle
libelle_NEG_rempl,,,,,,,
BRIGADIER DE POLICE,01JAN2003,12/12/2099,555,1,1,S13358,BRIGADIER DE POLICE
DIRECTEUR DE FOYER RESIDENCE POUR PERSONNES AGEES,01DEC1987,01/12/1987,431,1,1,S08713,DIRECTEUR DE FOYER RESIDENCE POUR PERSONNES AGEES
RESPONSABLE DU SERVICE ENTRETIEN DES BATIMENTS,01JUL1985,12/12/2099,250,1,1,S11163,RESPONSABLE DU SERVICE ENTRETIEN DES BATIMENTS
AGENT DE SECURITE IGH,24JAN1983,12/12/2099,262,1,1,S01586,AGENT DE SECURITE IGH
MEDECIN GENERALISTE,01MAY1988,12/12/2099,807,1,1,S05652,MEDECIN GENERALISTE

In [4]:
df.to_csv("nomenclature.csv", index=False)

In [8]:
df=pd.read_csv("nomenclature.csv")
len(set(df.libelle_NEG_rempl))

9251