In [16]:
import pandas as pd
import numpy as np

In [20]:
variables = ["libelle_NEG_rempl", "code_grade_NEG", "code_NETH_rempl", "code_nomenclature_net_neh"]
df = pd.read_csv(f"neg_net_neh.csv",
                 sep=";",
                 encoding='latin-1',
                 low_memory=False, usecols=variables)
print(df.isna().sum())
df.tail(30)

code_grade_NEG                    0
code_nomenclature_net_neh    677533
libelle_NEG_rempl                 0
code_NETH_rempl              596492
dtype: int64

,code_grade_NEG,code_nomenclature_net_neh,libelle_NEG_rempl,code_NETH_rempl
712939,S17076,S17076,DIRECTEUR ECOLE DE MUSIQUE,S170
712940,S17076,S17076,DIRECTEUR ECOLE DE MUSIQUE,S170
712941,S17076,S17076,DIRECTEUR ECOLE DE MUSIQUE,S170
712942,S17076,S17076,DIRECTEUR ECOLE DE MUSIQUE,S170
712943,S17076,S17076,DIRECTEUR ECOLE DE MUSIQUE,S170
712944,S17079,NaN,SECRETAIRE GENERAL DU TRIBUNAL DE COMMERCE 1ER...,NaN
712945,S17079,NaN,SECRETAIRE GENERAL DU TRIBUNAL DE COMMERCE 1ER...,NaN
712946,S17079,NaN,SECRETAIRE GENERAL DU TRIBUNAL DE COMMERCE 1ER...,NaN
712947,S17079,NaN,SECRETAIRE GENERAL DU TRIBUNAL DE COMMERCE 1ER...,NaN
712948,S17079,NaN,SECRETAIRE GENERAL DU TRIBUNAL DE COMMERCE 1ER...,NaN
712949,S17079,NaN,SECRETAIRE GENERAL DU TRIBUNAL DE COMMERCE 1ER...,NaN
712950,S17079,NaN,SECRETAIRE GENERAL DU TRIBUNAL DE COMMERCE 1ER...,NaN
712951,S17079,NaN,SECRETAIRE GENERAL DU TRIBUNAL DE COMMERCE 1ER...,NaN
712952,S17081,NaN,SECRETAIRE GENERAL DU TRIBUNAL DE COMMERCE 2EM...,NaN
712953,S17081,NaN,SECRETAIRE GENERAL DU TRIBUNAL DE COMMERCE 2EM...,NaN
712954,S17081,NaN,SECRETAIRE GENERAL DU TRIBUNAL DE COMMERCE 2EM...,NaN
712955,S17081,NaN,SECRETAIRE GENERAL DU TRIBUNAL DE COMMERCE 2EM...,NaN
712956,S17081,NaN,SECRETAIRE GENERAL DU TRIBUNAL DE COMMERCE 2EM...,NaN
712957,S17081,NaN,SECRETAIRE GENERAL DU TRIBUNAL DE COMMERCE 2EM...,NaN
712958,S17081,NaN,SECRETAIRE GENERAL DU TRIBUNAL DE COMMERCE 2EM...,NaN
712959,S17081,NaN,SECRETAIRE GENERAL DU TRIBUNAL DE COMMERCE 2EM...,NaN
712960,S17082,NaN,PROFESSEUR DE PIANO,NaN
712961,S17082,NaN,PROFESSEUR DE PIANO,NaN
712962,S17082,NaN,PROFESSEUR DE PIANO,NaN
712963,S17082,NaN,PROFESSEUR DE PIANO,NaN
712964,S17082,NaN,PROFESSEUR DE PIANO,NaN
712965,S17082,NaN,PROFESSEUR DE PIANO,NaN
712966,S17082,NaN,PROFESSEUR DE PIANO,NaN
712967,S17082,NaN,PROFESSEUR DE PIANO,NaN
712968,S17082,NaN,PROFESSEUR DE PIANO,NaN

In [21]:
# Fonction pour remplir les valeurs manquantes de code1
def fill_code_NETH_rempl(row):
    if pd.notnull(row['code_nomenclature_net_neh']):
        return row['code_nomenclature_net_neh']
    elif pd.notnull(row['code_grade_NEG']):
        return row['code_grade_NEG']
    else:
        return np.nan

# Application de la fonction fill_code1 Ã  chaque ligne du DataFrame
df['code_NETH_rempl'] = df.apply(fill_code_NETH_rempl, axis=1)
df.tail(15)

,code_grade_NEG,code_nomenclature_net_neh,libelle_NEG_rempl,code_NETH_rempl
712954,S17081,NaN,SECRETAIRE GENERAL DU TRIBUNAL DE COMMERCE 2EM...,S17081
712955,S17081,NaN,SECRETAIRE GENERAL DU TRIBUNAL DE COMMERCE 2EM...,S17081
712956,S17081,NaN,SECRETAIRE GENERAL DU TRIBUNAL DE COMMERCE 2EM...,S17081
712957,S17081,NaN,SECRETAIRE GENERAL DU TRIBUNAL DE COMMERCE 2EM...,S17081
712958,S17081,NaN,SECRETAIRE GENERAL DU TRIBUNAL DE COMMERCE 2EM...,S17081
712959,S17081,NaN,SECRETAIRE GENERAL DU TRIBUNAL DE COMMERCE 2EM...,S17081
712960,S17082,NaN,PROFESSEUR DE PIANO,S17082
712961,S17082,NaN,PROFESSEUR DE PIANO,S17082
712962,S17082,NaN,PROFESSEUR DE PIANO,S17082
712963,S17082,NaN,PROFESSEUR DE PIANO,S17082
712964,S17082,NaN,PROFESSEUR DE PIANO,S17082
712965,S17082,NaN,PROFESSEUR DE PIANO,S17082
712966,S17082,NaN,PROFESSEUR DE PIANO,S17082
712967,S17082,NaN,PROFESSEUR DE PIANO,S17082
712968,S17082,NaN,PROFESSEUR DE PIANO,S17082

In [22]:
usecols = ['ID_CARRIERE', 'date_debut', 'date_fin', 'ETAT', 'CATEGORIE_EMPLOI','QUALITE',\
           'STATUT_AGENT', 'INDICE_BRUT', 'EMPLOI_STATUTAIRE','LIBELLE_EMPLOI_GRADE']
k20 = pd.read_csv(f"20ksample.csv", encoding='latin-1', low_memory=False, usecols=usecols)
k20[k20.EMPLOI_STATUTAIRE == "S17082"]

Empty DataFrame
Columns: [ID_CARRIERE, date_debut, date_fin, ETAT, CATEGORIE_EMPLOI, QUALITE, STATUT_AGENT, INDICE_BRUT, EMPLOI_STATUTAIRE, LIBELLE_EMPLOI_GRADE]
Index: []