# Problème 1 

Un épidémiologiste veut montrer que le mois de naissance influe sur l’occurence d’une maladie M. Pour le démontrer”, il considère un échantillon de patients atteints de la maladie M et note leur mois de naissance. Il obtient le tableau suivant (En n´egligeant les differences de durée entre les mois, que vous inspirent ces données au seuil $\alpha = 0, 05$ ?) :

In [3]:
#create data
months = ["Jan", "Fev", "Mar", "Avril", "Mai", "Jun", "Jui", "Aou", "Sep", "Oct", "Nov", "Dec"]
occurences = [108, 103, 100, 96, 95, 102, 98, 103, 97, 91, 110, 85]
data = {"Mois":months, "Occurence":occurences}

#create a pandas dataframe
import pandas as pd
data = pd.DataFrame(data)
data

     Mois  Occurence
0     Jan        108
1     Fev        103
2     Mar        100
3   Avril         96
4     Mai         95
5     Jun        102
6     Jui         98
7     Aou        103
8     Sep         97
9     Oct         91
10    Nov        110
11    Dec         85

On s'intéresse à l'indépendance entre le mois de naissance et la prevalence de la maladie en question. Pour cela, on compare les effectifs théoriques (ceux que nous sommes censés observés si ces 2 évènements sont indépendants) et ceux observés (tableau ci-dessus). Si ces 2 évènements sont effectivement indépendants, alors les effectifs théoriques pour chaque classe (ici les mois) sont $\frac{n}{12}$ avec $n$ le nombre total d'occurence et $12$ le nombre de mois par an.

In [12]:
#count the total occurence
n = data.Occurence.sum()
print(f"Nombre total d'occurence : {n} \n")

#create a theoretical dataframe 
data_t = {"Mois": data.Mois, "Occurence": [n/12 for _ in range(12)]}
data_t = pd.DataFrame(data_t)
data_t

Nombre total d'occurence : 1188

     Mois  Occurence
0     Jan       99.0
1     Fev       99.0
2     Mar       99.0
3   Avril       99.0
4     Mai       99.0
5     Jun       99.0
6     Jui       99.0
7     Aou       99.0
8     Sep       99.0
9     Oct       99.0
10    Nov       99.0
11    Dec       99.0

On calcule maintenant la "distance" entre les 2 précédents dataframes en calculant la statistique du $\chi^2$ dans le cadre du test d'indépendance et définie ainsi pour comparer 2 variables à $k$ et $l$ classes :

$$\chi^2 = \sum_{i=1}^k \sum_{j=1}^l \frac{(O_{ij} - T_{ij})^2}{T_{ij}}$$

Sous $H_0$, cette statistique suit la loi suivante :

$$\chi^2 \sim \chi^2 _{(k-1)(l-1)}$$

Dans notre cas, on a $k=2$ et $l=12$. On se fixe une seuil de risque à l'erreur de type 1 de $5\%$, ce qui nous donne le fait de rejeter l'hypothèse nulle d'indépendance entre la prévalence de la maladie et le mois de naissance. Plus formellement, on rejette l'hypothèse si $\chi^2_{calcule} > \chi^2_{seuil}$. Dans notre cas, la valeur seuil est :

$$\chi^2_{(11)} = 19.68$$

In [46]:
#compute our statistics by hand
x2 = 0
for i in range(12):
    theory = 99
    x2 += (data.Occurence[i] - theory)**2 / theory
    
from scipy.stats import chi2
p = 1 - chi2.cdf(x2, 11)

#print results obtained
print(f"Statistique : {round(x2,4)}")
print(f"P-value associée : {round(p,4)}")

Statistique : 5.3939
P-value associée : 0.9106