In [37]:
import pandas as pd 
import os
import numpy as np
import warnings
warnings.filterwarnings("ignore")
from ipynb.fs.full.fonctions import remplacer_libelles
path = os.getcwd()

<br>
<br>

# Correction des libellés (si code présent)

In [31]:
#nomenclature
nomenclature = pd.read_csv("nomenclature.csv")
nomenclature = nomenclature.rename(columns={'libelle_NEG_rempl': 'libelle', 'code_NETH_rempl':'code'})

#df des individus 
df = pd.read_csv(f"{path}/20ksample.csv", encoding='latin-1', low_memory=False)
df = df.rename(columns={'LIBELLE_EMPLOI_GRADE': 'libelle', 'EMPLOI_STATUTAIRE':'code'})
df['date_fin'] = pd.to_datetime(df['date_fin'], format='%d/%m/%Y')
df['date_debut'] = pd.to_datetime(df['date_debut'], format='%d/%m/%Y')

#subset 2011
df_2011 = df[df['date_debut'] >= '2011-01-01']
na1 = df_2011.isna().sum().sum()

#remplacer libelle
df_2011 = remplacer_libelles(df_2011, nomenclature, "code", "libelle")
na2 = df_2011.isna().sum().sum()

#na removed
print(f"Nombre de nan en moins : {na1-na2}")

Nombre de nan en moins : 128

In [43]:
df_2011.isna().sum()

ID_CARRIERE              0
date_debut               0
date_fin                 0
ETAT                     0
CATEGORIE_EMPLOI         1
QUALITE                  1
STATUT_AGENT             0
INDICE_BRUT            122
code                 40123
libelle               4449
Unnamed: 10         520118
Unnamed: 11         520859
dtype: int64

<br>
<br>

# Complétion IB ou échelon si code+IB/échelon